{% extends 'TaichiBlogBundle::layout.html.twig' %}

{% block main %}
    <h1 class="text-danger">An error occurred.</h1>

    <div class="well">
        {{ include('TaichiBlogBundle:Blog:_comment_form.html.twig') }}
    </div>
{% endblock %}
