/*******************************
        Import Directives
*******************************/

/*------------------
       Theme
-------------------*/

@theme: @@element;

/*--------------------
   Site Variables
---------------------*/

/* Default site.variables */
@import "@{themesFolder}/default/globals/site.variables";

/* Packaged site.variables */
@import "@{themesFolder}/@{site}/globals/site.variables";

/* Component's site.variables */
@import (optional) "@{themesFolder}/@{theme}/globals/site.variables";

/* Site theme site.variables */
@import (optional) "@{siteFolder}/globals/site.variables";


/*-------------------
 Component Variables
---------------------*/

/* Default */
@import "@{themesFolder}/default/@{type}s/@{element}.variables";

/* Packaged Theme */
@import (optional) "@{themesFolder}/@{theme}/@{type}s/@{element}.variables";

/* Site Theme */
@import (optional) "@{siteFolder}/@{type}s/@{element}.variables";


/*******************************
             Mix-ins
*******************************/

/*------------------
       Fonts
-------------------*/

.loadFonts() when (@importGoogleFonts) {
  //@import url('@{googleProtocol}fonts.googleapis.com/css?family=@{googleFontRequest}');

  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Regular'), local('Lato-Regular'), url('../../../public/fonts/lato/Lato-Thin.woff') format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Regular'), local('Lato-Regular'), url('../../../public/fonts/lato/Lato-ThinItalic.woff') format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Regular'), local('Lato-Regular'), url('../../../public/fonts/lato/Lato-Light.woff') format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Regular'), local('Lato-Regular'), url('../../../public/fonts/lato/Lato-LightItalic.woff') format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url('../../../public/fonts/lato/Lato-Regular.woff') format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url('../../../public/fonts/lato/Lato-Bold.woff') format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url('../../../public/fonts/lato/Lato-Italic.woff') format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('../../../public/fonts/lato/Lato-BoldItalic.woff') format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Regular'), local('Lato-Regular'), url('../../../public/fonts/lato/Lato-Black.woff') format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Regular'), local('Lato-Regular'), url('../../../public/fonts/lato/Lato-BlackItalic.woff') format('woff');
  }
}

/*------------------
     Overrides
-------------------*/

.loadUIOverrides() {
  @import (optional) "@{themesFolder}/@{theme}/@{type}s/@{element}.overrides";
  @import (optional) "@{siteFolder}/@{type}s/@{element}.overrides";
}
